*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
        font-family: "Source Serif 4";
}

body {
    font-size: 1.41rem;
        line-height: normal;
        color: #a54328;
}

main{
    width: 39.3rem;
        padding: 5.3rem 3.7rem;
        margin-inline: auto;

    display: flex;
        flex-direction: column;
        gap: 3.4rem;
}

.recipe{
    width: 30.8rem;
    display: flex;
        flex-direction: column;
        gap: 3.7rem;
}

.recipe h1{
    font-size: 2.55rem;
}

.ingredients {
    width: 319px;
}

.ingredients h2 {
  margin-bottom: 2rem;  
}

.ingredients li{
    margin-left: 2.2rem;
}

.ingredients button {
    margin-top: 1.7rem;
        width: 94.24px;
        height: 31.886px; 
        padding: 1.1rem;
        background-color: #A54328;
        border: none;
        cursor: pointer;
        border-radius: 0.5rem;

    font-size: 1rem;
        color: #FFFF;
}

.ingredients button:hover{
    transform: scale(1.1);
    transition: 0.7s;
}

@media (min-width: 1000px){

    :root{
        font-size: 62.5%;
    }

    main {
        width: 1149px;  
        padding: 0;
        margin: 9.5rem auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        font-size: 2rem;
        line-height: normal;
        }

    .recipe {
        width: 435px;
        gap: 5.5rem;
    }

    .recipe h1, h2 {
        font-size: 40px;
    }

    .recipe img {
        width: 41.1rem;

    }
    
    .ingredients {
        width: 525px;
    }

    .ingredients li {
        margin-left: 2.6rem;
    }

    .ingredients button {
        margin-top: 2.4rem;
        width: 13.3rem;
        height: 4.5rem;
        padding: 1.6rem;
        border-radius: 0.8rem;
            display: flex;
            justify-content: center;
            text-align: center;

        font-size: 1.4rem;
    }
}